@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@400;500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content:center;
}
.left-sec {
    display: inline-block;
}
.right-sec {
    display: inline-block;
    
}
#bottom {
    display: grid;
    grid-template-columns: 200px 150px;
    padding:20px 0;
}

#policy {
    display: grid;
    grid-template-columns: auto auto auto auto;
   }
#line {
    border: 2px solid #585858;
}
.contact-info>input {
    width: 550px;
    padding: 13px;
    border: 1px solid grey;
    border-radius: 4px;
}

#fName {
    width: 260px;
    padding: 13px;
    border: 1px solid grey;
    border-radius: 4px;
}
#lName {
    width: 260px;
    padding: 13px;
    border: 1px solid grey;
    border-radius: 4px;
}
#address {
    width: 550px;
    padding: 13px;
    border: 1px solid grey;
    border-radius: 4px;
}
#apartment {
    width: 550px;
    padding: 13px;
    border: 1px solid grey;
    border-radius: 4px;
}
#city {
    width: 550px;
    padding: 13px;
    border: 1px solid grey;
    border-radius: 4px;
}
#country {
    width: 162px;
    padding: 13px;
    border: 1px solid grey;
    border-radius: 4px;
}
#state {
    width: 162px;
    padding: 13px;
    border: 1px solid grey;
    border-radius: 4px;
}
#pin {
    width: 162px;
    padding: 13px;
    border: 1px solid grey;
    border-radius: 4px;
}
#phone {
    width: 550px;
    padding: 13px;
    border: 1px solid grey;
    border-radius: 4px;
}
#bottom a h4 {
    color: #3b8fc7;
}
#bottom a button {
    background-color: #197bbd ;
    border: none;
    border-radius: 5px;
    width: 200px;
    height:30px;
    color: whitesmoke;
    }
    #policy {
        color: #3b8fc7;
    }