#footer {
    background-color: #222325;
    width: 100%;
    height: 500px;
    color: white;
    margin: auto;
    margin-top: 100px;
    /* display:none; */
}

#footer>:nth-child(1) {
    text-align: center;
    width: 85%;
    border-bottom: 1px solid #39393b;
    margin: auto;
    padding: 2px;
}

#footer-info {
    width: 85%;
    height: 91%;
    /* border:1px solid rgb(131, 110, 70); */
    margin: auto;
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
}

#footer-info>:nth-child(1) {
    /* border: 1px solid white; */
    width: 20%;
    height: 75%;
}

#footer-info>:nth-child(2) {
    /* border: 1px solid white; */
    width: 20%;
    height: 75%;
}

#footer-info>:nth-child(3) {
    /* border: 1px solid white; */
    width: 40%;
    height: 75%;
}

#footer-info>:nth-child(4) {
    /* border: 1px solid white; */
    width: 20%;
    height: 75%;
}

#footer a {
    color: #dfdfdf;


}

#footer p {
    padding-bottom: 6px;
    font-size: 14px;
    color: #dfdfdf;
    display: block;
    transition: 1s;
}

#footer a:hover {
    color: hotpink;
    text-decoration-line: underline;

}

#footer h4 {
    margin-bottom: 15px;
    color: #dfdfdf;
}

#footer h3 {
    color: #dfdfdf;
}

#footer input {
    padding: 10px;
    margin-right: 7px;
    margin-top: 20px;
    border-radius: 3px;
    border: none;
    width: 30%;
}

#footer button {
    padding: 10px;
    margin-top: 20px;
    border-radius: 3px;
    border: none;
    background-color: hotpink;
    color: white;
    width: 100px;
    cursor: pointer;
}

#footer i {
    color: #dfdfdf;
}

#footer span {
    color: #dfdfdf;

}

#rights {
    background-color: #2e3033;
    padding-left: 100px;
    color: #dfdfdf;
    padding-top: 7px;
    height: 40px;
}

#icon {
    margin-top: 45px;
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.social-icons {
    border: 1px solid white;
    width: 30px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}