.mainItem{
    width: 1170px;
    margin: auto;
    display:flex;
    margin-top: 30px;
 
}
*:focus {
    outline: none;
}

.left-img{
    border:1px solid black;
    display:flex;
    align-items: center;
    justify-content:center;
}
.left-img img{
    width:80%;
} 
.right-txt{
    padding:20px;
    border:1px solid red;
    width: 80%;
}
.fa-star{
    color:#fbcd0a;
    font-size: 13px;
}
.item-review{
    margin-left: 10px;
}
.ratingDiv{
    margin-top:10px;
}
.item-brand{
    margin-top:20px;
}
.item-price{
    margin-top: 20px;
    font-size: 18px;
    font-weight:bold;
    color: #ff66b9;
}
.item-price span{
    color: rgb(148, 148, 148);
    text-decoration: line-through;
    margin-right: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.item-counter{
    margin-top: 20px;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;     
    user-select: none;
    display:flex;         
    border:1px solid rgb(192, 192, 192);
    width: fit-content;
  }
.item-counter input{
    border:none;
    border-left:1px solid rgb(192, 192, 192);;
    border-right:1px solid rgb(192, 192, 192);;
    height:40px;
    text-align: center;
    width: 60px;
}
.item-counter span{
    display:inline-block;
    color:rgb(66, 66, 66);
    height:40px;
    width: 40px;
    display:flex;
    justify-content:center;
    cursor: pointer;
    align-items: center;
}
.right-txt h4{
    margin-top:20px;
    font-weight: 300;
    font-size: 15px;
}